body {
    min-width: 1024px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    //overflow: hidden;
    
}

.errorText {
    font-weight: 500;
    font-style: normal;
    font-size: 0.5rem;
    line-height: 24px;
}